<div class="layui-layout layui-layout-admin layui-mobile">
    <div class="layui-header">
        <h3 class="header-title"></h3>
    </div>

    <!-- 主体内容 -->
    <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show"></div>
    </div>

    <div class="layui-footer">
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this" lay-unselect>
                <a href="#">
                    <i class="layui-icon layui-icon-home"></i>
                    首页
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="#">
                    <i class="layui-icon layui-icon-app"></i>
                    菜单1
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="#">
                    <i class="layui-icon layui-icon-form"></i>
                    订单
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="#">
                    <i class="layui-icon layui-icon-friends"></i>
                    我的
                </a>
            </li>
        </ul>
    </div>

    <!-- 辅助元素，一般用于移动设备下遮罩 -->
    <div class="layadmin-body-shade" layadmin-event="shade"></div>

</div>
