<div class="layui-fluid">
    <div class="shop-list">

    </div>
</div>

<script>
    layui.use(['admin'], function () {

        var $ = layui.jquery
            , admin = layui.admin;

        admin.req({
            url: '/api/shop/pagelist'
            , type: 'get'
            , data: {
                limit: 10,
                page: 1
            }
            //, contentType: "application/json"
            , done: function (res) { //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行
                layui.each(res.data, function (index, item) {
                    var shopItem = $([
                        function () {
                            if (item.Flag == 2) {
                                return '<div class="layui-card shop-card-item">';
                            } else {
                                return '<div class="layui-card shop-card-item" >';
                            }
                        }()
                        , function () {
                            if (item.Flag == 2) {
                                return '<img style="width:100%; height:189px"  src="/assets/images/BJ0000.jpg" />';
                            } else {
                                return '<img style="width:100%;height:189px" lay-href="/shop/detail?id=' + item.ID + '" src="/assets/images/shop/' + item.ID + '/1.jpg" />';
                            }
                        }()
                        , '<div class="mask">'
                        , '<div>'
                        , '<div class="shop_info_2 shop_name">' + item.ShopName + '<div class="shop_price">' + (item.ID == 6 ? '588元两小时（含茶）' : '288元两小时（含茶）') + '</div></div>'

                        , '</div>'
                        , '<div class="info">'

                        , function () {
                            if (item.Flag == 2) {
                                return '<div class="shop_info_2"> <img style="width:12px; "  src="/assets/images/shop_icon1.png" />正在建设中</div>';
                            } else if (item.Flag == 1) {
                                return '<div class="shop_info_2"> <img style="width:12px; "  src="/assets/images/shop_icon1.png" />' + item.ShopAddress + '- 已停业</div> ';
                            } else {
                                return '<div class="shop_info_2 daohang" onclick="getDaohang(' + item.LAT + ',' + item.LNG + ',\''+ item.ShopName.replace(/\s*/g, "") + '\',\'' + item.ShopAddress.replace(/\s*/g, "") + '\')"> <img style="width:12px; "  src="/assets/images/shop_icon1.png" />' + item.ShopAddress + '</div> ';
                            }
                        }()
                        , '<div >'

                        , '<a   href="tel:' + item.ShopPhoneNum + '" class="shop_info_1">联系商家<img style="width:12px;"  src="/assets/images/shop_icon2.png" /></a>'
                        , '</div>'
                        , '</div>'
                        , '<div class="shop_info_1 shop_info_mt"><img style="width:12px;"  src="/assets/images/shop_icon3.png" />营业时间：00:00-24:00</div>'

                        , '</div>'
                        , '</div>'
                    ].join(''));

                    $('.shop-list').append(shopItem);

                    if (item.Flag != 2) {
                        shopItem.click(function () {

                        });
                    }
                })

            }, success: function (res) {
            }, complete: function () {

            }
        });

        admin.req({
            url: '/Weixin/sign'
            , type: 'get'
            //, contentType: "application/json"
            , done: function (res) { //这里要说明一下：done 是只有 response 的 code 正常才会执行。而 succese 则是只要 http 为 200 就会执行

            }, success: function (res) {
                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: res.data.appId, // 必填，公众号的唯一标识
                    timestamp: res.data.timestamp, // 必填，生成签名的时间戳
                    nonceStr: res.data.nonceStr, // 必填，生成签名的随机串
                    signature: res.data.sign,// 必填，签名
                    jsApiList: ['openLocation', 'getLocation'] // 必填，需要使用的JS接口列表
                });
            }, complete: function () {

            }
        });


        wx.ready(function () {
            console.log(1);
        });

        wx.error(function (res) {
            console.log(res);
        });

    });
    function getDaohang(LAT, LNG, ShopName, ShopAddress) {
        wx.openLocation({
            latitude: LAT, // 纬度，浮点数，范围为90 ~ -90
            longitude: LNG, // 经度，浮点数，范围为180 ~ -180。
            name: ShopName, // 位置名
            address: ShopAddress, // 地址详情说明
            scale: 15, // 地图缩放级别,整形值,范围从1~28。默认为最大
            infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
        });
    }
</script>
